<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "comment-form"}) do |f| %>
<%= devise_error_messages! %>

<div class='form-group'>
    <div class='col-sm-6'>
        <%= f.text_field :name, autofocus: true, placeholder: 'Please Enter Your Name', class: 'form-control' %>
    </div><!-- end .col-sm-6 -->

    <div class='col-sm-6'>
        <%= f.email_field :email, placeholder: 'Please Enter Your Email', class: 'form-control' %>
    </div><!-- end .col-sm-6 -->
</div><!-- end .form-group -->

<div class='form-group'>
    <div class='col-sm-12'>
        <%= f.select :school_id, options_for_select(1..200), {}, {autofocus: 'true', class: 'form-control', prompt: "Please Select Your School"} %>
    </div><!-- end .col-sm-6 -->
</div><!-- end .form-group -->

<% if user_signed_in? %>
<div class='form-group'>
    <div class='col-sm-4'>
        <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Please Enter Your Current Password', class: 'form-control' %>
    </div><!-- end .col-sm-4 -->
    <div class='col-sm-4'>
        <%= f.password_field :password, autocomplete: "off", 
        placeholder: @minimum_password_length ? 'Please Enter Your New Password (' + @minimum_password_length.to_s + ' characters minimum)' : 'Password', class: 'form-control'  %>
    </div><!-- end .col-sm-4 -->

    <div class='col-sm-4'>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Please Confirm Your Password', class: 'form-control' %>
    </div><!-- end .col-sm-4 -->
</div><!-- end .form-group -->
<% else %>
<div class='form-group'>
    <div class='col-sm-6'>
        <%= f.password_field :password, autocomplete: "off", 
        placeholder: @minimum_password_length ? 'Please Enter Your New Password (' + @minimum_password_length.to_s + ' characters minimum)' : 'Password', class: 'form-control'  %>
    </div><!-- end .col-sm-6 -->

    <div class='col-sm-6'>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Please Confirm Your Password', class: 'form-control' %>
    </div><!-- end .col-sm-6 -->
</div><!-- end .form-group -->
<div class='col-sm-12'>
<p style="font-size: 0.8em" >By signing up, you agree to the Terms of Use and Privacy Policy.</p>
</div><!-- end .col-sm-12 -->
<% end %>
<div class="col-sm-12">
    <% if user_signed_in? %>
    <%= f.button :submit, class:'button button-default', 'data-text': 'Update' do %>
    <span>UPDATE</span>
    <% end %>
    <% else %>
    <%= f.button :submit, class:'button button-default', 'data-text': 'Sign Up' do %>
    <span>SIGN UP</span>
    <% end %>
    <% end %>
</div><!-- end .col-sm-12 -->
<% end %>