<% if user_signed_in? && current_user == current_user %>
  <%= title "My Profile" %>
<% else %>
  <%= title current_user.name + "'s Profile" %>
<% end %>

<%= render 'partials/alerts' %>

<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
          <div class="row">
            <div class="col-md-9">
              <!-- start user content container -->
              <aside class="mu-sidebar">
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>
                    <%= @user.name %>
                    <% if current_user == @user %>
                      <%= link_to ' Edit ', edit_user_registration_path(@user), class: 'fa fa-edit tooltip-link', 'data-original-title': 'Edit Profile Information', 'data-toggle': 'tooltip', style: 'color: 00d999; float: right; font-size: 0.7em' %>
                    <% end %>
                  </h3>
                  <ul class="mu-sidebar-catg">
                    <li><a style="text-transform: none"><i class="fa fa-envelope" style="font-size: 1.2em;"> <%= @user.email %> </i></a></li>
                    <li><a><i class="fa fa-university" style="font-size: 1.2em;"> <%= @user.school.name %></i></a></li>
                    
                    <li>
                      <a><i class="fa fa-calendar" style="font-size: 1.2em;"> 
                      Member Since 
                      <% if @user.created_at > Time.now.beginning_of_day %>
                        <%="#{time_ago_in_words(@user.created_at)} ago"%>
                      <% else %>
                        <%= @user.created_at.strftime("%b %d, %Y") %>
                      <% end %>
                      </i></a>
                    </li>

                    <li>
                      <a><i class="fa fa-power-off" style="font-size: 1.2em;"> 
                      Last Visit 
                      <% if @user.last_sign_in_at == nil %>
                        <% if @user.created_at > Time.now.beginning_of_day %>
                          <%="#{time_ago_in_words(@user.created_at)} ago"%>
                        <% else %>
                          <%= @user.created_at.strftime("%b %d, %Y") %>
                        <% end %>
                      <% elsif @user.last_sign_in_at > Time.now.beginning_of_day %>
                        <%="#{time_ago_in_words(@user.last_sign_in_at)} ago"%>
                      <% else %>
                        <%= @user.last_sign_in_at.strftime("%b %d, %Y") %>
                      <% end %>
                      </i></a>
                    </li>
                  </ul>
                </div>
                <!-- end single sidebar -->
              </aside>
              <!-- end user content container -->
              <!-- start course content container -->
              <div class="mu-course-container mu-blog-archive">
                <div class="row">
                  <%= render 'partials/courses' %>
                </div>
              </div>
              <!-- end course content container -->
            </div>
            <div class="col-md-3">
              <!-- start sidebar -->
              <aside class="mu-sidebar">
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Categories</h3>
                  <ul class="mu-sidebar-catg">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="">Web Development</a></li>
                    <li><a href="">Math</a></li>
                    <li><a href="">Physics</a></li>
                    <li><a href="">Camestry</a></li>
                    <li><a href="">English</a></li>
                  </ul>
                </div>
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Archives</h3>
                  <ul class="mu-sidebar-catg mu-sidebar-archives">
                    <li><a href="#">May <span>(25)</span></a></li>
                    <li><a href="">June <span>(35)</span></a></li>
                    <li><a href="">July <span>(20)</span></a></li>
                    <li><a href="">August <span>(125)</span></a></li>
                    <li><a href="">September <span>(45)</span></a></li>
                    <li><a href="">October <span>(85)</span></a></li>
                  </ul>
                </div>
                <!-- end single sidebar -->
              </aside>
              <!-- / end sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
