<%= title @course.name %>

<%= render 'partials/alerts' %>

<section id="mu-course-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-course-content-area">
					<div class="row">
						<div class="col-md-9">
							<!-- start course content container -->
							<div class="mu-course-container mu-course-details">
								<div class="row">
									<div class="col-md-12">
										<div class="mu-latest-course-single">
											<figure class="mu-latest-course-img">
												<!-- <a href="#"><img src="<%= image_path 'courses/1.jpg' %>" alt="img"></a> -->
											</figure>
											<div class="mu-latest-course-single-content">
												<h2><%= @course.name %> [<%= @course.course_number %>]</h2>
												<h4>Description</h4>
												<p><%= @course.description %></p>
												<br/>
												<h4>Challenges</h4>
										    <div class="panel panel-default challenge-panel">
										      <!-- Default panel contents -->
										      <div class="panel-heading"><b>Challenges Of The Day</b></div>
										      <!-- List group -->
										      <ul class="list-group">
														<%= render 'partials/featured_challenges' %>
										      </ul>
    										</div>
    										<div class="panel panel-default challenge-panel">
    											<!-- Default panel contents -->
										      <div class="panel-heading"><b>All Challenges</b></div>
										      <!-- List group -->
										      <ul class="list-group">
														<%= render 'partials/challenges' %>
										      </ul>
									      </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end course content container -->
						</div>
						<div class="col-md-3">
							<!-- start sidebar -->
							<aside class="mu-sidebar">
								<!-- start single sidebar -->
								<div class="mu-single-sidebar">
									<h3>Statistics</h3>
									<ul class="mu-sidebar-catg">
										<li><a href="#">Sample Data</a></li>
										<li><a href="">Sample Data</a></li>
										<li><a href="">Sample Data</a></li>
										<li><a href="">Sample Data</a></li>
										<li><a href="">Sample Data</a></li>
										<li><a href="">Sample Data</a></li>
									</ul>
								</div>
								<!-- end single sidebar -->
							</aside>
							<!-- / end sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
