<!-- Start menu -->
<section id="mu-menu">
  <nav class="navbar navbar-default" role="navigation">  
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->              
        <!-- TEXT BASED LOGO -->
        <%= link_to root_path, :class =>'navbar-brand' do %>
          <i class="fa fa-university"></i><span>Commitment</span>
        <% end %>
        <!-- IMG BASED LOGO  -->
        <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
          <li><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>            
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="course.html">Course Archive</a></li>                
                <li><a href="course-detail.html">Course Detail</a></li>                
              </ul>
            </li> 
            <li><%= link_to 'My Profile', current_user, class: 'less-padding' %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'less-padding' %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, class: 'less-padding' %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: 'less-padding' %></li>
          <% end %>                   
          <li><a href="contact.html">Contact</a></li>
          <!-- <% if !current_page?(root_path) %>             
            <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
          <% end %> -->
        </ul>                     
      </div><!--/.nav-collapse -->        
    </div>     
  </nav>
</section>
<!-- End menu -->